.lap{
    width: 30px;
    cursor: pointer;
}
.restart{
    width: 35px;
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}
.container{
    border: 2px solid rgb(46, 46, 46);
    width: 350px;
    height: 600px;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    background-color: #1E272C;
    box-shadow: 0px 0px 20px 10px #82aaff42;
}
.timer{
    /* border: 2px solid red; */
    width: 280px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    font-size: 45px;
    font-weight: bold;
    color: #96aeb9;
}
.card{
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
    background-color: #1E272C;
    background-color: #41596741;
    /* color: white; */
    color: #819daa;
}
.card::-webkit-scrollbar{
    display: none;
}
.card tr{
    /* border: 2px solid green; */
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.card tr td{
    /* border: 2px solid red; */
}
#shift{
    position: relative;
    left: 15px;
}
.buttons{
    /* border: 2px solid red; */
    width: 280px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.play{
    width: 80px;
    cursor: pointer;
    /* border: 2px solid red; */
    /* filter: invert(); */
    color: #9ab7c5;
}
.pause{
    display: none;
    width: 80px;
    cursor: pointer;
    /* border: 2px solid red; */
    /* pointer-events: none; */
}


@media screen and (max-width: 450px){
    .container{
        transform: scale(0.80);
    }
}